@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
  background-color: #222829;
  font-family: Arial, Helvetica, sans-serif;
}

.spotlight {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: radial-gradient(
    800px circle at var(--x) var(--y),
    rgba(65, 135, 147, 0.15),
    transparent 30%
  );
  z-index: 1;
  pointer-events: none;
}
